.mainContainer{
    background: #C3C3C3;
    box-shadow: 4px 4px 0px #818181;
    width: 400px;
    height: 450px;
    margin-bottom: 110px;
}

.header{
    width: 400px;
    height: 40px;
    background: #010081;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 11px;
}

.headerText{
    font-family: 'Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}

.body{
    display: flex;
    flex-direction: column;
    height: 460px;
    padding-top: 16px;
    padding-left: 8px;
    padding-bottom: 16px;
    padding-right: 8px;
}

.inputContainer{
    display: flex;
}

.rate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.switchLink{
    height: 50px;
    width: 40px;
    margin-bottom: 15px;
    margin-left: 170px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switchLink:hover{
    border: 3px solid #010081;
}

.rateText{
    font-family: 'Grotesque';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.slippage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.slippageText{
    font-family: 'Grotesque';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.swapButtonText{
    font-family: 'Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}