.mainContainer{
    width: 399px;
    height: 120px;
    background: #C3C3C3;
    box-shadow: 4px 4px 0px #818181;

    /* УБРАТЬ МАРДЖИН */
    margin:15px;
}

.header{
    width: 400px;
    height: 40px;
    background: #010081;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 11px;
}

.headerText{
    font-family: 'Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}

.mainPart{
    height: 80px;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
}

.button{
    /* width: 380px;
    height: 60px; */
    /* background: #D9D9D9; */
    /* box-shadow: 1px 1px 0px 1px #000000, -1px -1px 0px 1px #FDFFFF; */
    font-family: 'Grotesque';
    /* justify-self: center; */
    
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    /* margin: 25px; */
}

.disconnectButton{
    font-family: 'Grotesque';
}

.adressContainer{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.statusContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
}

.addressContainerTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 23px; */
}

.statusText{
    /* margin-right: 117px; */
    font-family: 'Grotesque';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

.addressText{
    font-family: 'Grotesque';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 23px;
}

.balance{
    font-family: 'Grotesque';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-left: 10px;
}

.address{
    font-family: 'Grotesque';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-left: 10px;
    margin-bottom: 23px;
}